/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* line-height: 1; */
  font-family: "Noto 
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 태그에 대한 reset은 필요시 추가 */

img {
  display: block;
}

video {
  dispaly: block;
}

.header {
  display: flex;
  justify-content: space-between;
  padding:37px 100px;
}

.logo {
  margin-left: 100px;
}

/* 가로배치되는 자식요소를 기준으로 부모요소에 flex를 적용해야 함 */
.gnb {
  margin-right: 100px;
}

.gnb-list {
  display: flex;
}

.gnb-list-item {
  margin-rightL: 30px;
}

.gnb-list-link {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.gnb-list-link:hover {
  color: rgb(16, 291, 195);
}

.section01 {
  text-align: center;
  padding: 120px 0;
}

.section-paragraph {
  width: 500px;
  margin: 0 auto;
}

.group{
  display: flex;
}

.grid-visual{
  width:340px;
  height:300px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.sub-logo{
  margin-left: 100px;
}

.sns-list{
  margin-right: 100px;
}

